# Python
backend/venv/
**/__pycache__/
*.py[cod]

# Variables de entorno
.env
**/.env

# Node
frontend/node_modules/
frontend/dist/

# IDE
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db

# Base de datos local
backend/db.sqlite3