.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    padding: 15px 25px;
    align-items: center;
    background-color: #1B5E20;
    color: white;
    font-family: display;
    box-sizing: border-box;
}

.main-container {
    display: flex;
    min-height: calc(100vh - 70px);
}

main {
    flex: 1;
    min-width: 0;
    min-height: calc(100vh - 70px);

    display: flex;
    flex-direction: column;

    align-items: stretch;
    justify-content: flex-start;

    background-color: #f2f2f2;
}

.sidebar {
    width: 130px;
    min-height: calc(100vh - 70px);
    background-color: #2E7D32;
    color: white;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}


.sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0 10px;
}

.sideItem {
    padding: 12px 15px;
    margin-bottom: 5px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.sideItem:hover {
    background-color: #1B5E20;
}

.logout {
    padding: 12px 15px;
    margin-top: auto;
    margin-bottom: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.logout:hover {
    background-color: #1B5E20;
}


.foto {
    width: 40px;
    height: 40px;
    object-fit: cover;
} 

.fotoperfil {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.2s ease;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.user-info:hover .fotoperfil {
    transform: scale(1.15);
}

.center-info {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.init {
    font-size: 18px;
    font-weight: 100;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.init:hover {
    transform: scale(1.1);
}

.logout-overlay {
    position: fixed;
    inset: 0;

    background-color: rgba(0, 0, 0, 0.45);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1000;
}

.logout-confirmacion {
    background-color: white;
    padding: 30px;
    border-radius: 12px;

    width: 350px;
    text-align: center;

    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.25);
}

.logout-confirmacion p {
    margin-top: 0;
    margin-bottom: 25px;

    font-size: 18px;
    font-weight: 500;
    color: #333;
}

.logout-confirmacion button {
    padding: 10px 20px;
    margin: 0 5px;

    border: none;
    border-radius: 6px;

    cursor: pointer;
    font-size: 14px;
}

.logout-confirmacion button:first-of-type {
    background-color: #1B5E20;
    color: white;
}

.logout-confirmacion button:last-of-type {
    background-color: #e0e0e0;
    color: #333;
}